body{
    margin: 0 ;
    font-family: 'Poppins', sans-serif;
}
#hero-section{
    background-image: url(img/hero-\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding:150px 0px;
    
}
  
.hero-area {
    text-align: center;}

.hero-area h1{
    font-size: 55px;
    color: aliceblue;
    font-weight: 700;
   line-height: 30px;
}
.hero-area p{
    color: aliceblue;
    font-size: 20px;
   
}


.link-button{
    background-color: rgb(247, 61, 10);
    text-decoration: none;
    padding:15px 40px;
    border-radius:5px;
    color: aliceblue;   
}

.section{
    text-align: center;
    margin:5% 15%;
}
/* amount -section*/

.heading-title{
    font-size: 45px;
    font-weight: 500;
}
.flex-container{
    display: flex; 
}
.flex-container h3{
padding: 30px 15px;
background-color: rgb(226, 226, 247);
border-radius: 4px;
margin: 50px 50px;


}

.style-added{
    border: 2px solid rgb(247, 61, 10) ;
    background-color: rgb(242, 179, 189);
}
.ammount-section input {
    outline: 0;
    padding: 15px;
    border-width: 0 0 1px;
    border-color: gray;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    width: 100%;
  }

  /* plan-section*/
.plan{
    width:30%;
    background-color: rgb(192, 245, 245);
    padding: 30px;
    text-align: left;
    margin-left:20px;
    border-radius: 10px;
}

.plan-01{
    width:30%;
    background-color: rgb(248, 219, 194);
    padding: 30px;
    text-align: left;
    margin-left:20px;
    border-radius: 10px;
}
 .plan img{
    position: right;
    width: 40%;
   
 }

 /* work -section*/
 .work-process{
    width: 50%;
     margin-right:20px;
     
 }

 .work-process img{
        width: 100%;
        border-radius: 10px;

 }

 .form{
    background-color: rgba(249, 233, 219, 0.954);
    padding: 75px 250px;
    display: inline-block;
 }

 .email {
    border: 0px solid;
    background-color: rgb(200, 193, 193);
    padding: 15px 30px;
    border-radius: 5px 0px 0px 5px;
    
 }
 .submit{
    border: 0px solid;
    background-color: rgb(249, 69, 69);
    padding: 15px 30px;
    margin-left: -5px;
    color: aliceblue;
    border-radius: 0px 5px 5px 0px;
    
 }

 footer{
    background-color: rgba(0, 0, 0, 0.952);
    text-align: center;
    color: aliceblue;
    padding: 20px 0;
    outline: none;
 }

